* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    flex: 1;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

/* ------------------- HEAD ------------------- */

header {
    display: block;
    background-color: black;
    color: #FFF;
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 15px;
    padding-top: 15px;
    height: 50px;
   
    
}

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo > span {
    letter-spacing: 2px;
}

#logo > span:nth-child(2) {
    color: #00c9b4;
}

#navbar ul li {
    list-style: none;
    display: inline;
    margin: 5px 15px;
    letter-spacing: 2px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

#navbar ul li > a {
    text-decoration: none;
    color: white;
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    z-index: 1;
    background-color: black;
    color: #FFF;
    display: flex;
    flex-flow: column;
    height: 95px;
    font-weight: 400;
    padding: 5px 0;
    /* height ? */
}

 /*  Strzałka do dropdown menu  */
 .arrow { /* rysowanie trójkąta w css */
    width: 0;
    height: 0;
    border-bottom: solid black 15px;
    border-left: solid transparent 15px;
    border-top: solid transparent 15px;
    border-right:solid transparent 15px;
    position: absolute;
    top: -24px;
    left: 47px;

}

/* ----------------------------- SECTION 1 ----------------------------- */

#description {
    width: 100%;
    height: 500px;
    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+19,d1d1d1+90,d1d1d1+96,d1d1d1+99,d1d1d1+100,d1d1d1+100,d1d1d1+100,d1d1d1+100,d1d1d1+100,d1d1d1+100,d1d1d1+101,d1d1d1+102,d1d1d1+102 */
background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top, #fefefe 19%, #d1d1d1 90%, #d1d1d1 96%, #d1d1d1 99%, #d1d1d1 100%, #d1d1d1 100%, #d1d1d1 100%, #d1d1d1 100%, #d1d1d1 100%, #d1d1d1 100%, #d1d1d1 101%, #d1d1d1 102%, #d1d1d1 102%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fefefe 19%,#d1d1d1 90%,#d1d1d1 96%,#d1d1d1 99%,#d1d1d1 100%,#d1d1d1 100%,#d1d1d1 100%,#d1d1d1 100%,#d1d1d1 100%,#d1d1d1 100%,#d1d1d1 101%,#d1d1d1 102%,#d1d1d1 102%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fefefe 19%,#d1d1d1 90%,#d1d1d1 96%,#d1d1d1 99%,#d1d1d1 100%,#d1d1d1 100%,#d1d1d1 100%,#d1d1d1 100%,#d1d1d1 100%,#d1d1d1 100%,#d1d1d1 101%,#d1d1d1 102%,#d1d1d1 102%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
    display: flex;
    flex-direction: row;
    position: relative;

}

#description .black-chair {
    width: 575px;
    height: 475px;
    background-image: url(./images/black_chair.png);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 70px -620px;

}

#description .slogan {
    position: absolute;
    top: 150px;
    left: 640px;
    font-size: 20px;
    font-weight: bolder;
    
}

#description .slogan span {
    display: inline;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color:black;
    
}

#description .slogan span:nth-child(2n) {
    color: #00c9b4;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
}


#description > .presentation > {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-content: center;
width: 700px;
height: 600px;
}

#description > .presentation > p {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    display: inline-block;
    margin: 20px 0;
    position: absolute;
    top: 200px;
    left: 610px;
    text-align: center;
    width: 400px;

}

#description > .presentation > .more {
    background-color: #00c9b4;
    color: #FFF;
    width: 300px;
    height: 50px;
    text-align: center;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10px;
    border-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 350px;
    left: 665px;
    text-align: center;
} 

#description > .presentation > .back {
    color: #00c9b4;
    font-size: 65px;
    font-weight: 400;
    position: absolute;
    top: 245px;
    left: 75px;
    transform: scaleY(1.4);
}

#description > .presentation > .next {
    color: #00c9b4;
    font-size: 65px;
    font-weight: 400;
    position: absolute;
    top: 245px;
    right: 75px;
    transform: scaleY(1.4);
}

/* =========================== SECTION 2 ============================ */

 #pictures {
    height: 300px; 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
 }

 #pictures > .expo,
 #pictures > .all_inputs {
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    
 }

 #pictures > .expo > h3 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color:black;
    font-size: 15px;
    font-weight: 700;
    width: 350px;
    height: 40px;
    position: absolute;
    top: 140px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;

 }

 #pictures > .expo.claire > h3 > span {
    position: absolute;
    left: 20px;
    top: 10px;
 }

 #pictures > .expo.claire > h3 > span::after {
    content: '';
    width: 130px;
    height: 6px;
    background-color: #00c9b4;
    position: absolute;
    display: inline-block;
    top: 18px;
    left: 0px;
 }

 #pictures > .expo.margarita > h3 > span {
    position: absolute;
    left: 30px;
    top: 10px;
 } 

 #pictures > .expo.margarita > h3 > span::after {
    content: '';
    width: 130px;
    height: 6px;
    background-color: #00c9b4;
    position: absolute;
    display: inline-block;
    top: 18px;
    left: 0px;
 }

 #pictures .all_inputs {
    border: lightgrey solid 1px;
    margin-top: 20px;
    height: 220px;
 }

.all_inputs h3 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 700;
    margin: 20px;
}

.all_inputs h3::after {
    content: '';
    width: 130px;
    height: 6px;
    background-color: #00c9b4;
    position: absolute;
    display: inline-block;
    top: 40px;
    left: 20px;
}

 #pictures .all_inputs p {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 14px;
    margin: 0 20px;
 }

.expo.claire {
    background-image: url("./images/box1_img.jpg");
    background-position: top;
    background-size: 90%;
    margin-top: 20px;
   
}

.expo.margarita {
    background-image: url("./images/box2_img.jpg");
    background-position: bottom;
    background-size: 90%;
    background-repeat: no-repeat;
    margin-top: 20px;
}


/* ============================== CENNIK ============================*/

#prices {
    height: 800px; 
    padding-top: 40px;
    background-color: rgb(241, 240, 245);
}


#prices h1 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: darkslategrey;
    position: relative;
    display: inline-block;
    width: 115px;
    height: 40px;
    margin-left: 90px;
    margin-bottom: 30px;

}

#prices h1::after {
    content: '';
    width: 350px;
    height: 8px;
    background-color: #00c9b4;
    position: absolute;
    display: inline-block;
    top: 35px;
    left: 0px;
}

#menu > div > h3 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    transform: scaleY(1.1);
}

#menu > .basic > h3,
#menu > .extended > h3 {
    color: #00c9b4;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
}

#menu > div {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
    position: relative;
}

#menu > .basic {
    border: solid 2px rgb(189, 183, 183);
    background-color: rgb(251, 251, 255);
}

#menu > .basic::before {
    content: '';
    width: 60px;
    height: 60px;
    border: solid 2px rgb(189, 183, 183);
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 130px;
    top: -45px;   
}

#menu > .basic::after {
    content: '';
    width: 25px;
    height: 25px;
    border: solid 1px rgb(189, 183, 183);
    background-color: rgb(189, 183, 183);
    border-radius: 50%;
    position: absolute;
    left: 148px;
    top: -26px;
    
}

#menu .standard {
    background-color: #00c9b4;
    border: solid 2px #00c9b4;
    color: white;
}

#menu > .standard::before {
    content: '';
    width: 60px;
    height: 60px;
    border: solid 2px #00c9b4;
    background-color: #00c9b4;
    border-radius: 50%;
    position: absolute;
    left: 130px;
    top: -45px;   
}

#menu > .standard::after {
    content: '';
    width: 25px;
    height: 25px;
    border: solid 1px white;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 148px;
    top: -26px;
    
}

#menu > .extended {
    background-color: rgb(251, 251, 255);
    border: solid 2px rgb(189, 183, 183);
}

#menu > .extended::before {
    content: '';
    width: 60px;
    height: 60px;
    border: solid 2px rgb(189, 183, 183);
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 130px;
    top: -45px;   
}

#menu > .extended::after {
    content: '';
    width: 25px;
    height: 25px;
    border: solid 1px rgb(189, 183, 183);
    background-color: rgb(189, 183, 183);
    border-radius: 50%;
    position: absolute;
    left: 148px;
    top: -26px;
    
}

#menu > div > .price {
    width: 140px;
    height: 140px;
    border: solid 2px transparent;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 70px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#menu > .basic > .price,
#menu > .extended > .price {
    border: solid 2px rgb(189, 183, 183);
    color: rgb(189, 183, 183);
    
}

#menu > div > .price > p > sup {
    font-size: 15px;
}

#menu > .basic .price > p {
    position: absolute;
    top: 33px;
    left: 40px;
    font-size: 40px;
}


#menu > .basic .price > span {
    position: absolute;
    top: 95px;
    left: 27px;
    font-size: 15px;
}

#menu > .standard .price > p {
    position: absolute;
    background-color: white;
    color: #00c9b4;
    position: absolute;
    top: 33px;
    left: 40px;
    font-size: 40px;
}

#menu > .standard .price > span {
    position: absolute;
    color: #00c9b4;
    top: 95px;
    left: 27px;
    font-size: 15px;
}

#menu >.extended > .price > p {
    position: absolute;
    top: 33px;
    left: 34px;
    font-size: 40px;
}

#menu > .extended > .price > span {
    position: absolute;
    top: 95px;
    left: 27px;
    font-size: 15px;
}

#menu > div > ul {
   margin-top: 200px;
}

#menu > .basic > ul > li:nth-child(2n+1),
#menu > .extended >ul > li:nth-child(2n+1) {
    background-color: rgb(223, 217, 217);
    color: gray;
}

#menu > .basic > ul > li:nth-child(2n),
#menu > .extended >ul > li:nth-child(2n) {
    background-color: rgb(240, 234, 234);
    color: gray;
}

#menu > .standard > ul > li:nth-child(2n+1) {
    background-color: #FFF;
    color: gray;
}

#menu > .standard > ul > li:nth-child(2n) {
    background-color: rgb(240, 234, 234);
    color: gray;
}

#menu > div > ul > li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 320px;
    height: 40px;
    border: solid 1px lightgray;
}

#menu > div > ul > button {
    background-color: #00c9b4;
    color: #FFF;
    width: 140px;
    height: 40px;
    text-align: center;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    border-style: none;
    position: absolute;
    bottom: 15px;
    left: 90px;
}

#menu > .standard > ul > button {
    background-color: white;
    color: #00c9b4;
    width: 140px;
    height: 40px;
    text-align: center;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    border-style: none;
    position: absolute;
    bottom: 15px;
    left: 90px;
}

/* =========================================  FORM  ============================= */

#form {
    background-color: #FFF;
    margin-top: 40px;    
   
}

#form > h1 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: darkslategrey;
    position: relative;
    margin-bottom: 20px;

}

#form > h1::after {
    content: '';
    width: 350px;
    height: 8px;
    background-color: #00c9b4;
    position: absolute;
    top: 35px;
    left: 0px;
}

.text-images-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

form .textfield {
    display: flex;
    flex-direction: column;
   
}

form .textfield > label {
    display: block;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(167, 167, 167) ;

    
}

form .textfield > label > input {
    border: 1px solid #72e2d7;
    height: 75px;
    width: 700px;
    margin: 10px 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 5px;
    color:rgb(167, 167, 167);
    
}


form .textfield > label > textarea {
    border: #72e2d7 solid 1px;
    height: 250px;
    width: 700px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 5px;
    margin: 10px 0;
    position: relative;
    resize: none;
}

form .textfield > label > textarea::placeholder {
    color: rgb(167, 167, 167)
}

#form > form > label > ::placeholder {
    color: rgb(167, 167, 167);
}

form .images {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    
}

form .images > .red {
    content: '';
    background-image: url(./images/red_chair.png);
    background-size: cover;
    width: 290px;
    height: 220px;
    display: block;
    margin: 0 auto;
}

form .images > label > input[type="checkbox"] {
    display: none;
    position: relative;
    bottom: 200px;
    left: 730px;

}

form > .images > .checkbox-wrapper {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    justify-content: space-between;
}

/*  chceckbox image on top  */

form .images > label > .check-img {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url('./images/form_ok.jpg');
    background-size: 90%;
    background-position: left;
    background-repeat: no-repeat;
    border: solid 1px #00c9b4;
    border-radius: 3px;
}    

form .images > label > p {
    display: inline-block;
    width: 350px;
    height: 50px;
    color: rgb(167, 167, 167);
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-left: 15px;
}    


form .images > button {
    background-color: #00c9b4;
    color: #FFF;
    width: 385px;
    height: 80px;
    text-align: center;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bolder;
    border-radius: 10px;
    border-style: none;
    text-transform: uppercase;
    
}


/* ---------------------- FOOTER ----------------------------- */

footer {
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(167, 167, 167);
    margin-top: 100px;
    margin-left: -70px;

}

.social-media {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    position: relative;
}

.social-media > span:nth-child(3) {
    font-weight: 900;
}

.icons a {
    width: 30px;
    height: 30px;
    background-size: cover;
    display: inline-block;
    margin: 0 2px;
   
}

.social-media > .icons {
    margin-right: 50px;
   margin-top: -10px;
}

.flickr {
    display: inline-block;
}

.vimeo {
   
    display: inline-block;
}

.pinterest {
    
    display: inline-block;
}

.twitter {
    
    display: inline-block;
}

footer .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.social-media .logo-bottom span:nth-child(2) {
    /*  większe pogrubienie ON  ??? */
}
